ul {
    list-style-type: none;
    background-color: #FFEBCD;
	overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	margin: 15px;
	/*padding: 15px 15px;*/
	text-decoration: none;
}


.image1{
	border: 5px solid black;
}

.div1 {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	
}



.head1{
	text-align: center;
	margin-left: 6px;
	font-size: 50px;

}
body {
	margin: 0 auto;
	background-color: #ffebcd;}

@media all and (max-width: 610px) {

	body{ 
			background-color: orange;

	 }

}
.head2{
	font-size: 30px;
}
.span1 {
	color:red;
}


