#bar {
	
}

ul {
    list-style-type: none;
    background-color: #FFEBCD;
		overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	margin: 15px;
	/*padding: 15px 15px;*/
	text-decoration: none;
}


li a:hover {
    background-color: gray;
    color: white;
}

.color {
	background-color: #FFEBCD;
}

.left {
	background-color: #F5F5DC;
	float:left;
	border: 2px solid black;
	width: 180px;
}

.left_bar {
	margin: 5px;
	text-align: center;
}

.article {
	margin: 15px 200px;
	width: 900px;
	text-align: center;
}

 .box {
 	background-color: #F5F5DC;
 	padding: 5px;
 	margin-top: 15px;
 	border: 5px solid black;
 }

 hr {
 	color: black;
 }

 @media all and (max-width: 1000px) {
 	.left {
 		display: none;
 	}
 	.left_bar {
 		display: none;
 	}
 	.article {
 		margin: 0 auto;
 	}
 	.box {
 		margin: 0 auto;
 	}
 }

/* @media all and (max-width: 480px) {
 	.moveplease {
 		display: inline-block;
 		float: right;
 		align-items: center;
 		margin: 0 auto;
 	}
 }*/

