
html {
	background-color: #FFEBCD;
}

.container {
	display: flex;

}


.img1{
	float: left;
	width: 200px;
	height: 200px;
	background-image: url('http://www.aspca.org/sites/default/files/aspca.jpg');
	background-size: cover;
	background-position: center;

}